<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>レビュー登録確認</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h2>レビュー登録確認</h2>

  <div th:object="${reviewRegistForm}">
    【店舗ID】<br>
    <p th:text="*{restaurantId}"></p><br>
    <br>
    【利用者ID】<br>
    <p th:text="*{userId}"></p><br>
    <br>
    【来店日】<br>
    <p th:text="*{visitDate}"></p><br>
    <br>
    【評価】（1-5）<br>
    <p th:text="*{rating}"></p><br>
    <br>
    【一言コメント】<br>
    <p th:text="*{comment}"></p><br>
    <br>
  </div>

  <form th:action="@{/confirm-regist-review}" method="post" th:object="${reviewRegistForm}">
    【店舗ID】<br>
    <input type="hidden" th:field="*{restaurandId}"><br>
    <br>
    【利用者ID】<br>
    <input type="hidden" th:field="*{userId}"><br>
    <br>
    【来店日】<br>
    <input type="hidden" th:field="*{visitDate}"><br>
    <br>
    【評価】（1-5）<br>
    <input type="hidden" th:field="*{rating}"><br>
    <br>
    【一言コメント】<br>
    <input type="hidden" th:field="*{comment}"><br>
    <br>
    <input type="submit" value="登録実行" class="btn">
  </form>

  <form th:action="@{/show-review-form-ret}" method="post" th:object="${reviewRegistForm}">
    【店舗ID】<br>
    <input type="hidden" th:field="*{restaurandId}"><br>
    <br>
    【利用者ID】<br>
    <input type="hidden" th:field="*{userId}"><br>
    <br>
    【来店日】<br>
    <input type="hidden" th:field="*{visitDate}"><br>
    <br>
    【評価】（1-5）<br>
    <input type="hidden" th:field="*{rating}"><br>
    <br>
    【一言コメント】<br>
    <input type="hidden" th:field="*{comment}"><br>
    <br>
    <input type="submit" value="戻る" class="btn">
  </form>

</body>
</html>